<html>
	<!-- This dynamic page is using is a HAML to render a random Tarot Card -->
    <head>
    <title>Tarot for the day</title>	
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
	  </script>
      <link rel="stylesheet" type="text/css" href="css/reset-min.css">	  
      <link rel="stylesheet" type="text/css" href="css/styles.css">	  	  	  
    </head>

	<body>
	
	  <div id="wrapper">	
		
        <div id="header">	
          <h1> Tarot for the day</h1>
          <h2> A Simple Site made with Groovy and Ratpack!</h2>
        <!-- header -->
	    </div>
	  
        <div id="nav">	
          <ol>
            <a href="/"><li>Home</li></a>
            <a href="tarot"><li>Tarot</li></a>		  
            <a href="about"><li>About</li></a>		  
          </ol>			
        <!-- nav -->
	    </div>
	  
        <div id="side_bar">		  
          <h1> For Entertainment Purposes ONLY</h1>
          <p>
          No claims are made that this application can be used predict the future. If it could, I would be rich!
		  </p>
        <!-- side_bar -->
	    </div>
	  
        <div id="content">

          <h1>About</h1>
          <p>
          This is a simple application using Ratpack and Groovy.
		  </p>
	  
  	    <!-- content -->
	    </div>
	  
        <div id="footer">
          <p>
            No Copyright here. Use it as you like, but if it breaks, don't blame me.	
		  </p>
        </div>				  
	  
	  <!-- wrapper -->  
	  </div>  
	  
	</body>
</html>
