<html>
    <head>
    <title>Tarot for the day</title>	
      <link rel="stylesheet" type="text/css" href="css/reset-min.css">	  
      <link rel="stylesheet" type="text/css" href="css/styles.css">	  	  	  
    </head>

	<body>

	  <div id="wrapper">	
		
        <div id="header">	
          <h1> Tarot for the day</h1>
          <h2> A Simple Site made with Groovy and Ratpack!</h2>
        <!-- header -->
	    </div>
	  
        <div id="nav">	
          <ol>
            <a href="/"><li>Home</li></a>
            <a href="tarot"><li>Tarot</li></a>		  
            <a href="about"><li>About</li></a>		  
          </ol>			
        <!-- nav -->
	    </div>
	  
        <div id="side_bar">		  
          <h1> For Entertainment Purposes ONLY</h1>
          <p>
          No claims are made that this application can be used predict the future. If it could, I would be rich!
		  </p>
        <!-- side_bar -->
	    </div>
	  
        <div id="content">

          <h1> Tarot for the Day</h1>
          <p> 
		  Not much on this page.
		  </p>
		
		  <p> 
		  Most of the work is on the "Tarot" navigation Link above.
		  </p>
		
		  <p>
		    <hr size=4 width="100%"> 
		  </p>
		
		  <p>
		  Select the "Tarot" Link and see some dynamic content ...
		  </p>
		
		  <p> 
          with a tiny bit of JQuery.
		  </p>		
	  
	    <!-- content -->
	    </div>
	  
        <div id="footer">
          <p>
          No Copyright here. Use it as you like, but if it breaks, don't blame me.	
		  </p>
        </div>				  
	  
	  <!-- wrapper -->  
	  </div>  
	  
	</body>
</html>
